@model IEnumerable<GestorEventos.Servicios.Entidades.EventoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" id="btnCrearNuevo">Crear Nuevo</a>
    <button onclick="OcultarCrear()"  id="btnBorrar">Borrar </button>
</p>
<table class="table" id="tblEventos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaAgasajada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaAgasajada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoEvento)
            </td>
            <td>
                 
                @Html.ActionLink("Detalles", "Detalles", new {  id=item.IdEvento }) |
                <form asp-action="AprobarEvento">
                       <input type="hidden" asp-for="@item.IdEvento"  />
                       <input type="submit" value="Aprobar" />
 
                </form>
                    <form asp-action="RechazarEvento">
                        <input type="hidden" asp-for="@item.IdEvento" />
                        <input type="submit" value="Rechazar" />

                    </form>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts { 
    <script>
           /*function OcultarCrear(){ 
               alert("Boton presionado");
               var estado = document.getElementById("btnCrearNuevo").style.display; 
               
               if (estado == "none")
                   document.getElementById("btnCrearNuevo").style.display = "block";
               else
                   document.getElementById("btnCrearNuevo").style.display = "none";
               //$("btnBorrar").toggle();
           }
           */

          function OcultarCrear() {
            $("#btnCrearNuevo").toggle();
          }

          $(document).ready(function () {
            let table = $('#tblEventos').DataTable({
                paging: false,
                scrollY: 400,
                searching: false,
                ordering: false 
            });
        });

    </script>
}
